// General Styles
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: 'Amatic SC', cursive;
  color: @main-font-color;
  background-color: @wild-sand;
}

h2, h3, h4, h5, p {
  font-family: 'Amatic SC', cursive;
  color: @header-font-color;
}
h1{
  font-family: 'Amatic SC', cursive;
  color: @header-font-color;
  font-size: 8rem;
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 5rem;
  font-weight: 800;
}

h3 {
  font-size: 3.2rem;
}

p {
  font-family: 'Amatic SC', cursive;
  font-size: 2.6rem;
  line-height: 1.4;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;

  .player-data{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: @wild-sand;

  }
}

.game-container {
  background-color: @wild-sand;
  max-width: 800px;
  border: 2px dotted black;
  width: 90%;
  min-height: 525px;
  margin: auto;
  padding: 20px;
  .flex(center, flex-start);
  text-align: center;

  @media @phone {
    margin: 1%, auto;
    .flex(center, center);
    flex-direction: column;
    padding: 5px;
  }
  .fight-image{
    img{
      width: 40%;
      height: 90%;
      padding: 10px;
      @media @phone {
        width: 50%;
        height: auto;
        padding: 0px;
        margin-top: 0px;
      }
    }
  }
  h3{
    font-size: 3rem;
    font-weight: 650;
    @media @phone {
      font-size: 2.6rem;
    }
  }
  .character-action {
    .secondaryButtonStyle;
    align-self: flex-end;

    @media @phone {
      align-self: center;
      width: 80%;
      margin: 10px;
      padding: 15px;
      h4{
        font-size: 3rem;
      }

      &:hover{
        background-color: @darkblue;
      }
    }


    }
    .heal{
      @media @phone {
      order: 1;
      }
  }
.restart {
  text-decoration: none;

}

.start-over {
    .tertiaryButtonStyle;
    text-decoration: none;

    @media @phone{
      width: 100%;
      margin: 10px 0;
      padding: 15px;
      align-self: center;
      h4{
        text-decoration: none;
        font-size: 3.6rem;
      }

      &:hover{
        background-color: @darkblue;
      }
    }

    }
}


  .hidden {
    display: none;
  }
