// General Styles
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: 'Amatic SC', cursive;
  color: @main-font-color;
  background-color: @offwhite;
}

h2, h3, h4, h5, p {
  font-family: 'Amatic SC', cursive;
  color: @header-font-color;
}
h1{
  font-family: 'Lora', serif;
  color: @header-font-color;
  font-size: 6rem;
}

h2 {
  font-family: 'Lora', serif;
  font-size: 3rem;
}

h3 {
  font-size: 3.2rem;
}

p {
  font-family: 'Amatic SC', cursive;
  font-size: 2.6rem;
  line-height: 1.4;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.game-container {
  background-color: @wild-sand;
  max-width: 800px;
  width: 80%;
  margin: 10% auto;
  border: 2px dotted black;
  padding: 20px;
  .flex(center, flex-start);
  text-align: center;

  @media @phone {
    margin: 5%;
    .flex(center, center);
    flex-direction: column;
  }
  .fight-image{
    img{
      width: 60%;
      height: auto;
      padding: 10px;
    }
  }
  h3{
    font-size: 2.6rem;
    font-weight: 800;
  }
  .character-action {
    .secondaryButtonStyle;
    align-self: flex-end;

    @media @phone {
      align-self: center;
      width: 80%;
      margin: 10px;
    }


    }
    .heal{
      @media @phone {
      order: 1;
      }
  }


}
