.container{
  .start{
    width: 100%;
    margin: 0, auto;
    padding: 10%;
    .flex(space-around, center);
    flex-direction: column;
    text-align: center;

    h1{
      margin: 40px;

      @media @phone {
        font-size: 4rem;
      }

    }
    .button {
      .mainButtonStyle;

      @media @phone {
        width: 80%; 
      }

    }

  }
}
