.game-container {
  .fight-image{
    border: 1px dashed teal;
    width: 90%;
    height: 300px;
    padding: 20px;
  }
  h2{
    border: 1px dashed black;
  }
  h3{
    border: 1px dashed black;
  }
  .fight {
    border: 1px solid black;
    .secondaryButtonStyle;
  }
  .run {
    border: 1px solid black;
    .secondaryButtonStyle;
  }
}
